#classicbackground {
    background-image: url("../images/classicmovies.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto; 
    min-height: 720px; 
    margin: 0; 
  }

#cardbackground {
    opacity: .9; 
}

input[type="radio"] {
    margin-right: 6px;
  }
