#classicbackground {
    background-image: url("../images/classicmovies.jpg");
    height: auto; 
    min-height: 720px; 
    margin: 0; 
  }

#cardbackground {
    opacity: .9; 
}

input[type="radio"] {
    margin-right: 6px;
  }
